:root {
  --color-theme1: #ced4da;
  --color-theme2: #e9ecef;
  --color-theme3: #rgb(163, 239, 214);
  --primary-font: 'Noto Sans TC', sans-serif;
}
@mixin tablet {
  @media (min-width: $break-point-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $break-point-desktop) {
    @content;
  }
}
